/*----------------
 Starting css 
 -----------------*/
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
  width: 80%;
  margin: 0 auto;
}
/*-------------------
 Header section 
 ---------------------*/
#logo {
  font-size: 24px;
  font-family: poppins;
  font-weight: 700;
}
nav {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  margin-right: 30px;
}
nav li a {
  text-decoration: none;
  color: black;
}
.nav-icons i {
  padding-right: 30px;
}
